#background-img {
  position: fixed;
  width: 100%;
  height: 120%;
  z-index: -1;
  filter: saturate(125%);
  background: url("mountain-bg.jpeg") top/cover;
}
.page {
  display: flex;
  flex-direction: column;
  height: 950px;
  text-align: center;
  justify-content: center;
  padding: 65px 100px 100px 65px;
}
.title {
  font-size: 50px;
  margin-top: 300px;
  opacity: 0;
  transition:
    margin-top 1s ease-in-out,
    opacity 1s ease-in-out;
}
h3 {
  font-size: 28px;
}
h4 {
  font-style: italic;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h5, .page li {
  font-size: 18px;
  list-style: none;
  margin: 0px;
}
strong {
  font-size: 20px;
  color: #223388;
}
.row h5 {
  font-size: 15px;
}
div[class^="col-"] {
  padding: 0px;
  margin-bottom: 15px;
}
.nav {
  position: fixed;
  text-align: center;
  margin: 10px;
  padding-right: 0px;
}
.collapse {
  padding-left: 0px;
}
.container .page:nth-child(odd) {
  color: #efefef;
}
.container .page:nth-child(even) {
  /*background-color: rgba(20, 20, 20, .7);*/
  background: linear-gradient(0deg, rgba(189, 206, 223, .3), rgba(33, 51, 75, .5));
  color: #ececec;
  width: 97%;
  margin: 0 auto 0 auto;
  border-radius: 5px;
}
#nav-container,
#nav-container ul {
  border-radius: 5px;
  background-color: rgba(180, 180, 220, .5);
}
.nav > li > a:focus {
  background-color: inherit;
}
.nav li {
  max-width: 100%;
  overflow: hidden;
}
.panel-heading {
  padding: 0px;
}
.panel-body {
  padding-top: 3px;
  padding-bottom: 3px;
}
.panel-title a {

}
.panel-title a:focus,
.panel-title a:active {
  text-decoration: none;
}
.panel-title a:hover {
  text-decoration: underline;
}
.panel-body h4 {
  margin-top: 10px;
}
.panel-body {
  margin-bottom: 0px;
}
.work-details li:nth-child(odd) {
  background-color: rgba(189, 206, 223, .3);
  color: rgba(33, 51, 75, 1);
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}
.work-details li:nth-child(even) {
  padding: 5px;
  background-color: rgba(33, 51, 75, .5);
  border-radius: 5px;
  font-size: 16px;
}
.hidden {
  visibility: 'hidden';
}
